<!-- blog section -->
<section id="blog" class="xs-onepage-section">
    <div class="container">
        <div class="row mt-5">
            <!-- section title -->
            <div class="col-md-12 text-center">
                <span class="title-number">01</span>
                <h3 class="section-title no-padding">{{ blog.title }}</h3>
            </div>
            <!-- end section title -->
        </div>
        <div class="row mt-5">
            {% for post in blog.items %}
                <!-- blog item -->
                <div class="col-md-4 col-sm-4 wow fadeInUp mt-3">
                    <div class="blog-post">
                        <div class="blog-post-images">
                            <a href="{{ post.url }}" target="_blank">
                                <img src="{{ post.previewImage }}" alt="{{ post.title }}">
                            </a>
                        </div>
                        <div class="post-details">
                            <a href="{{ post.url }}" class="post-title" target="_blank">
                                {{ post.title }}
                            </a>
                            <span class="post-author">Posted by Sebastian Buckpesch | {{ post.publishedAt }}</span>
                            <p>{{ post.subtitle|raw }}</p>
                        </div>
                    </div>
                </div>
                <!-- end blog item -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- end blog section -->