<!-- education section -->
<section id="education" class="xs-onepage-section my-5">
    <div class="container">
        <div class="row margin-ten mt-5">
            <!-- section title -->
            <div class="col-md-12 text-center">
                <span class="title-number">04</span>
                <h3 class="section-title no-padding">{{ education.title }}</h3>
            </div>
            <!-- end section title -->
        </div>
        <div class="row">
            <div id="owl-demo-small"
                 class="owl-carousel owl-theme dark-pagination owl-no-pagination dark-pagination-without-next-prev-arrow position-relative no-padding">
                <div class="item d-flex">
                    {% for item in education.items %}
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <img src="{{ item.image }}" alt="{{ item.title }}">
                                    <span class="year text-large gray-text display-block margin-five">
                                        {{ item.years }}
                                    </span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">
                                        {{ item.title }}
                                    </span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol">
                                    <span class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">
                                        {{ item.degree }}
                                    </span>
                                    <p>{{ item.description }}</p>
                                    {% if item.grade %}
                                        <p class="result text-uppercase white-text font-weight-600 letter-spacing-1 mb-0">
                                            {{ item.grade.title }}
                                        </p>
                                    {% endif %}
                                    <small class="text-muted">
                                        {{ item.grade.description }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end education section -->
