<?php
$am             = getGlobal("app_manager");
$smart_link_url = $am->getUrl();
$device         = $am->getDeviceType();
$locales        = __c('app_language_selection');
$cur_locale     = $am->getLang();
$os             = $am->getDevice()['os'];

$bodyClass = "";
if (is_login()) {
$uid       = session_user_get("uid");
$bodyClass = "logged_in user-" . $uid;
}
if (is_admin()) {
$bodyClass .= " user-admin";
}
if (isset($_GET['bodyclass'])) {
$bodyClass .= " " . $_GET['bodyclass'];
}

// Is the upload activated for this user at the moment?
$can_upload = true;
$response   = $this->_module->upload_can_upload();
if ($response['error'] == 1) {
$can_upload = false;
}

?>
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7 <?=$device; ?>-html"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8 <?=$device; ?>-html"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 <?=$device; ?>-html"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10 ie9 <?=$device; ?>-html"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js <?= $device; ?>-html"> <!--<![endif]-->

<!-- Include head section -->
{% include 'layout/head.twig' %}

<body id="{{ env.deviceType }}" class="{{ env.env }} {{ env.os }} {{ env.deviceType }} {{ env.locale }} <?= str_replace(
    "/",
"-",
$this->PAGE_NAME
); ?>  <?php echo $bodyClass; ?>">


<div id="fb-root"></div>
<div id="page">

    <!-- Header and navigation -->
    {% include 'layout/header.twig' %}

    <!-- Main content -->
    <div id="main-container" class="main-container">

        {% block body %}
            <div data-object-name="Main" id="html-main">

                <!-- participant not start  or already end check -->
                <?php $content = $this->_module->getStartEndContent(); ?>
                <?php if ($content !== false && ($this->PAGE_NAME == "overview" || $this->PAGE_NAME == "upload")): ?>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <?php echo($content); ?>
                        </div>
                    </div>
                </div>
                <style>
                    .col-lg-12 img {
                        max-width: 100%;
                    }

                    .custom-header {
                        display: none;
                    }
                </style>
                <?php else: ?>
                <?php echo $this->main; ?>
                <?php endif; ?>

            </div>
        {% endblock %}

    </div>

    <script>
        function send_email_activate_email() {
            request(url_link("auth.mail.send_activation"), {}, function (response) {
                $("#activate_notification").hide();
                //CookieAcitivation('activate_notification', 'closed');
                _.notification({
                    'title': _.t('email_successfully_sent'),
                    'type' : 'success'
                });
            }, function (response) {
                alert('send failed');
            });
        }

        $('.dropdown-menu-search').find('input').click(function (e) {
            e.stopPropagation();
        });
    </script>

    <!-- Include footer + scripts -->
    {% include 'layout/footer.twig' %}

</div>

{% include 'layout/nav.offcanvas.twig' %}

<?php
echo $this->render(
"layout/canvas/nav.offcanvas.phtml",
array(
"smart_link_url" => $smart_link_url,
"cur_locale" => $cur_locale,
"locales" => $locales,
"can_upload" => $can_upload
)
);
?>

<!-- Scroll to top button -->
<a href="#" class="scrollToTop">
    <i class="fa fa-arrow-up"></i>
</a>

</body>
</html>
